In [97]:
import pandas as pd
import numpy as np
import os

In [98]:
filePaths = [
    "../rawData/1 - List of countries by GDP (nominal) per capita.csv",
    "../rawData/2 - List of sovereign states by Internet connection speeds.csv",
    "../rawData/3 - List of countries by alcohol consumption per capita.csv",
    "../rawData/4 - List of countries by intentional homicide rate.csv",
    "../rawData/5 - List of countries with highest military expenditures.csv",
    "../rawData/6 - List of countries by Human Development Index.csv",
    "../rawData/7 - The Economist Democracy Index.csv",
    "../rawData/8 - List of countries by tertiary education attainment.csv",
    "../rawData/9 - Importance of religion by country.csv",
    "../rawData/10 - Christianity by country.csv",
    "../rawData/11 - Islam by country.csv",
    "../rawData/12 - Buddhism by country.csv",
    "../rawData/13 - Jewish population by country.csv",
    "../rawData/14 - List of countries by infant and under-five mortality rates.csv",
    "../rawData/15 - Age of criminal responsibility.csv",
    "../rawData/16 - List of countries by minimum wage.csv",
    "../rawData/17 - List of countries by external debt.csv",
    "../rawData/18 - List of countries by income equality.csv",
    "../rawData/19 - List of countries by total health expenditure per capita.csv",
    "../rawData/20 - List of countries by suicide rate.csv",
    "../rawData/21 - List of countries by total fertility rate.csv",
    "../rawData/22 - Tobacco consumption by country.csv",
    "../rawData/23 - List of countries by obesity rate.csv",
    "../rawData/24 - List of countries by number of Internet users.csv",
    "../rawData/25 - List of countries by median age.csv",
    "../rawData/26 - List of sovereign states by economic freedom.csv",
    "../rawData/27 - List of countries by oil production.csv",
    "../rawData/28 - List of countries by population growth rate.csv",
    "../rawData/29 - List of countries by life expectancy.csv",
    "../rawData/30 - List of countries by meat consumption.csv",
    "../rawData/31 - List of countries by incarceration rate.csv",
    "../rawData/32 - List of countries by literacy rate.csv",
    "../rawData/33 - List of countries by age at first marriage (1).csv",
    "../rawData/34 - List of countries by spending on education as percentage of GDP.csv",
    "../rawData/35 - List of sovereign states by homeless population.csv",
    "../rawData/36 - List of countries by milk consumption per capita.csv",
    "../rawData/37 - List of countries by number of scientific and technical journal articles.csv",
    "../rawData/38 - Books published per country per year.csv",
    "../rawData/39 - List of countries by food energy intake.csv",
    "../rawData/40 - List of countries by average yearly temperature.csv"
]

dfs = []
for filePath in filePaths:
    dfs.append(pd.read_csv(filePath))

dfs[0].head()

,Country/Territory,UN Region,IMF[4][5],IMF[4][5].1,World Bank[6],World Bank[6].1,United Nations[7],United Nations[7].1
0,Country/Territory,UN Region,Estimate,Year,Estimate,Year,Estimate,Year
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Monaco,Europe,—,—,234317,2021,234317,2021
3,Liechtenstein,Europe,—,—,184083,2021,169260,2021
4,Luxembourg,Europe,135605,2023,126426,2022,133745,2021

In [99]:
dfs[0] = dfs[0].drop(dfs[0].index[0:2])
dfs[0] = dfs[0].iloc[:,[0,6]]
dfs[0] = dfs[0].rename(columns={"Country/Territory":"Country","United Nations[7]":"GDP"})
dfs[0].head()

         Country     GDP
2         Monaco  234317
3  Liechtenstein  169260
4     Luxembourg  133745
5        Bermuda  112653
6        Ireland  101109

In [100]:
dfs[0] = dfs[0].set_index("Country")
dfs[1] = dfs[1].set_index("Country/Territory")
data = dfs[0].join(dfs[1])
data

,GDP,Rank,Mediandownloadspeed(Mbit/s)(Ookla)[1],Averagedownloadspeed(Mbit/s)(M-Lab)[2],Averagedownloadspeed(Mbit/s)(SpeedTestNet.io),Averagedownloadspeed(Mbit/s)(Speed-Test-Pros.com)[4]
Country,,,,,,
Monaco,234317,4.0,220.35,104.97,203.15,201.23
Liechtenstein,169260,9.0,193.79,229.98,178.94,168.52
Luxembourg,133745,23.0,154.26,118.05,144.99,132.56
Bermuda,112653,NaN,NaN,NaN,NaN,NaN
Ireland,101109,40.0,112.81,34.87,99.67,124.82
...,...,...,...,...,...,...
Madagascar,500,93.0,41.40,18.00,37.65,34.22
South Sudan,400,NaN,NaN,NaN,NaN,NaN
Sierra Leone,505,NaN,NaN,NaN,NaN,NaN
Afghanistan,373,NaN,NaN,NaN,NaN,NaN
Burundi,311,NaN,NaN,NaN,NaN,NaN